<html ng-app="app">
  <head>
    <title>Templates</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <script src="javascripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="javascripts/templates.js"></script>
    <style></style>
  </head>
  <body>
 
  <ng-view></ng-view>


  <script type="text/ng-template" id="/todos.html">
  <h2>Todos</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.completed">{{todo.name}}
      </li>
    </ul>
  </script>

  </body>
</html>

